<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zipi.modules.contract.mapper.CoreUserMapper">
    <resultMap id="BaseResultMap" type="com.zipi.modules.contract.entity.CoreUser">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="TINYINT"/>
        <result column="lock_type" property="lockType" jdbcType="VARCHAR"/>
        <result column="enterprise" property="enterprise" jdbcType="TINYINT"/>
        <result column="id_number" property="idNumber" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="user_mobile" property="userMobile" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="need_change_pwd" property="needChangePwd" jdbcType="TINYINT"/>
        <result column="passphrase" property="passphrase" jdbcType="VARCHAR"/>
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="register_source" property="registerSource" jdbcType="VARCHAR"/>
        <result column="referral_id" property="referralId" jdbcType="VARCHAR"/>
        <result column="referral_realm" property="referralRealm" jdbcType="VARCHAR"/>
        <result column="referralLoginName" property="referralLoginName" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>

        <!-- 用户金额相关 -->
        <result column="available_amount" property="availableAmount"/>
        <result column="frozen_amount" property="forzenAmount"/>
        <result column="withdraw_amount" property="withdrawAmount"/>
        <result column="due_in_amount" property="dueInAmount"/>
        <result column="due_out_amount" property="dueOutAmount"/>
        <result column="deposit_amount" property="depositAmount"/>

        <!-- 用户金额相关 -->

        <!--总充值金额或回款金额-->
        <result column="amount" property="amount"/>

        <!--企业用户相关-->
        <result column="en_address" property="enAddress" jdbcType="VARCHAR"/>
        <result column="en_phone" property="enPhone" jdbcType="VARCHAR"/>
        <result column="en_nature" property="enNature" jdbcType="VARCHAR"/>
        <result column="en_license_no" property="enLicenseNo" jdbcType="VARCHAR"/>

        <result column="referralIdNumber" property="referralIdNumber" jdbcType="VARCHAR"/>
        <result column="maintenanceEmpId" property="maintenanceEmpId" jdbcType="VARCHAR"/>
        <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="maintenanceIdNumber" property="maintenanceIdNumber" jdbcType="VARCHAR"/>
        <result column="certificate_type" property="certificateType" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="VARCHAR"/>

        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="tax_registration_number" property="taxRegistrationNumber" jdbcType="VARCHAR"/>
        <result column="institutional_credit_code" property="institutionalCreditCode" jdbcType="VARCHAR"/>
        <result column="bank_license" property="bankLicense" jdbcType="VARCHAR"/>
        <result column="organization_code" property="organizationCode" jdbcType="VARCHAR"/>
        <result column="xw_status" property="xwStatus" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="unified_code" property="unifiedCode" jdbcType="VARCHAR"/>
        <result column="customer_no" property="customerNo" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
    user_id, email, emp_id, enabled, lock_type, enterprise, id_number, last_login_time,
    last_modified_by, login_name, user_mobile, user_name, need_change_pwd, passphrase, register_time,
    salt, register_source, referral_id, referral_realm,en_address,en_phone,en_nature,en_license_no,certificate_type,
    user_role,contact_name,company_name,tax_registration_number,institutional_credit_code,bank_license,organization_code,
    xw_status,contact_phone,unified_code,customer_no
    </sql>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            <include refid="Base_Column_List"/>
        from
            tb_core_user
        where
            user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>