<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zipi.modules.contract.mapper.RmbboxLoanApplyMapper">
    <resultMap id="BaseResultMap" type="com.zipi.modules.contract.entity.RmbboxLoanApply">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="days" property="days" jdbcType="INTEGER"/>
        <result column="months" property="months" jdbcType="INTEGER"/>
        <result column="years" property="years" jdbcType="INTEGER"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
        <result column="management_rate" property="managementRate" jdbcType="DECIMAL" />
        <result column="loan_rate" property="loanRate" jdbcType="DECIMAL" />
        <result column="base_info" property="baseInfo" jdbcType="VARCHAR" />
        <result column="request_method" property="requestMethod" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="request_id" property="requestId" jdbcType="VARCHAR"/>
        <result column="request_type" property="requestType" jdbcType="VARCHAR" />
        <result column="client" property="client" jdbcType="VARCHAR"/>
        <result column="audit_emp_id_fir" property="auditEmpIdFir" jdbcType="VARCHAR" />
        <result column="audit_emp_id_sen" property="auditEmpIdSen" jdbcType="VARCHAR" />
        <result column="audit_opinion_fir" property="auditOpinionFir" jdbcType="VARCHAR" />
        <result column="audit_opinion__sen" property="auditOpinionSen" jdbcType="VARCHAR" />
        <result column="borrow_partner_source" property="borrowPartnerSource" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time, update_time, update_id, user_id, amount, days, months, years,
        rate,loan_rate,management_rate,base_info, request_method,request_type, status, client,audit_emp_id_fir,
		audit_emp_id_sen,audit_opinion_fir,audit_opinion__sen,borrow_partner_source
    </sql>

    <insert id="insert" parameterType="com.zipi.modules.contract.entity.RmbboxLoanApply">
        insert into tb_rmbbox_loan_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="updateId != null and updateId != ''">
                update_id,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="days != null">
                days,
            </if>
            <if test="months != null">
                months,
            </if>
            <if test="years != null">
                years,
            </if>
            <if test="rate != null">
                rate,
            </if>
            <if test="requestMethod != null and '' != requestMethod">
                request_method,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="client != null and '' != client">
                client
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="updateId != null and updateId != ''">
                updateId = #{updateId},
            </if>
            <if test="userId != null and userId != ''">
                userId = #{userId},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="days != null">
                days = #{days}
            </if>
            <if test="months != null">
                months = #{months}
            </if>
            <if test="years != null">
                years = #{years}
            </if>
            <if test="rate != null">
                rate = #{rate}
            </if>
            <if test="requestMethod != null and '' != requestMethod">
                requestMethod = #{requestMethod},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="client != null and '' != client">
                client = #{client}
            </if>
        </trim>
    </insert>

    <!--<update id="updateById" parameterType="com.zipi.entity.CoreUserFundRecord">
        update tb_rmbbox_loan_apply
        <set>
            <if test="updateId != null and updateId != ''">
                update_id = #{updateId},
            </if>
            <if test="userId != null and userId != ''">
                userId = #{userId},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="days != null">
                days = #{days}
            </if>
            <if test="months != null">
                months = #{months}
            </if>
            <if test="years != null">
                years = #{years}
            </if>
            <if test="rate != null">
                rate = #{rate}
            </if>
            <if test="requestMethod != null and '' != requestMethod">
                request_method = #{requestMethod},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="requestId != null and requestId != ''">
                request_id = #{requestId},
            </if>
            <if test="client != null and '' != client">
                client = #{client}
            </if>
        </set>
        where id = #{id}
    </update>-->

    <select id="getLoanApplyList" resultType="java.util.Map">
        select
            a.id,
            a.request_type,
            u.login_name,
            u.user_mobile,
            a.create_time AS time,
            u.user_name,
            a.amount,
            a.status,
            case WHEN months > 0 and days > 0 THEN CONCAT(months,'月',days,'天')
            WHEN months > 0 THEN CONCAT(months,'月')
            WHEN days > 0 THEN CONCAT(days,'天')
            end as period,
            a.rate as rate,
            a.management_rate,
            a.loan_rate,
            a.request_method
        FROM
            tb_rmbbox_loan_apply a
        INNER JOIN tb_core_user u ON a.user_id = u.user_id
        <where>

            <if test="userSource != null and userSource != ''">
                a.borrow_partner_source = 'lirenfenqiBBT001'
            </if>

            <if test="startDate != null">
                and create_time >= #{startDate}
            </if>
            <if test="endDate != null">
                and #{endDate} >= create_time
            </if>
            <if test="sSearch != null and sSearch !=''">
                and (u.login_name = #{sSearch} or u.user_mobile = #{sSearch} or u.user_name = #{sSearch})
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
        </where>
        ORDER BY create_time desc
        limit #{startRow}, #{pageSize}

    </select>

    <select id="getLoanApplyCount" resultType="java.lang.Integer">
        select
            count(0)
        FROM
        tb_rmbbox_loan_apply a
        INNER JOIN tb_core_user u ON a.user_id = u.user_id
        <where>
            <if test="userSource != null and userSource != ''">
                a.borrow_partner_source = 'lirenfenqiBBT001'
            </if>
            <if test="startDate != null">
                and create_time >= #{startDate}
            </if>
            <if test="endDate != null">
                and #{endDate} >= create_time
            </if>
            <if test="sSearch != null and sSearch !=''">
                and (u.login_name = #{sSearch} or u.user_mobile = #{sSearch} or u.user_name = #{sSearch})
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_rmbbox_loan_apply
        where id = #{id,jdbcType=INTEGER}
    </select>


    <update id="updateByPrimaryKeySelective" parameterType="com.zipi.modules.contract.entity.RmbboxLoanApply">
        update tb_rmbbox_loan_apply
        <set>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateId != null">
                update_id = #{record.updateId,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.amount != null">
                amount = #{record.amount,jdbcType=DECIMAL},
            </if>
            <if test="record.days != null">
                days = #{record.days,jdbcType=INTEGER},
            </if>
            <if test="record.months != null">
                months = #{record.months,jdbcType=INTEGER},
            </if>
            <if test="record.years != null">
                years = #{record.years,jdbcType=INTEGER},
            </if>
            <if test="record.rate != null">
                rate = #{record.rate,jdbcType=DECIMAL},
            </if>
            <if test="record.requestMethod != null">
                request_method = #{record.requestMethod,jdbcType=VARCHAR},
            </if>
            <if test="record.requestType != null">
                request_type = #{record.requestType,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.client != null">
                client = #{record.client,jdbcType=VARCHAR},
            </if>
            <if test="record.requestId != null">
                request_id = #{record.requestId,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{record.id,jdbcType=INTEGER}
    </update>

    <select id="selectByRequestId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_rmbbox_loan_apply
        where request_id = #{requestId,jdbcType=VARCHAR}
    </select>

    <select id="getSumAmount" resultType="java.math.BigDecimal">
        SELECT sum(a.amount) FROM
        tb_rmbbox_loan_apply a
        INNER JOIN tb_core_user u ON a.user_id = u.user_id
        <where>

            <if test="userSource != null and userSource != ''">
                 a.borrow_partner_source = 'lirenfenqiBBT001'
            </if>

            <if test="startDate != null">
               and create_time >= #{startDate}
            </if>

            <if test="endDate != null">
                and #{endDate} >= create_time
            </if>
            <if test="sSearch != null and sSearch !=''">
                and (u.login_name = #{sSearch} or u.user_mobile = #{sSearch} or u.user_name = #{sSearch})
            </if>
            <if test="status != null ">
                and a.status = #{status}
            </if>
        </where>
    </select>
</mapper>