<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zipi.mapper.RmbLoanRequestMapper" >
  <resultMap id="BaseResultMap" type="com.zipi.entity.RmbLoanRequest" >
    <id column="request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="request_des" property="requestDes" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="guarantee_info" property="guaranteeInfo" jdbcType="VARCHAR" />
    <result column="request_method" property="requestMethod" jdbcType="VARCHAR" />
    <result column="mortgaged_info" property="mortgagedInfo" jdbcType="VARCHAR" />
    <result column="mortgaged" property="mortgaged" jdbcType="BIT" />
    <result column="purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="INTEGER" />
    <result column="risk_info" property="riskInfo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="request_title" property="requestTitle" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="months" property="months" jdbcType="INTEGER" />
    <result column="years" property="years" jdbcType="INTEGER" />
    <result column="max_amount" property="maxAmount" jdbcType="INTEGER" />
    <result column="min_amount" property="minAmount" jdbcType="INTEGER" />
    <result column="step_amount" property="stepAmount" jdbcType="INTEGER" />
    <result column="loan_name" property="loanName" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="request_type" property="requestType" jdbcType="VARCHAR" />
    <result column="rate_add" property="rateAdd" jdbcType="INTEGER" />
    <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR" />
     <result column="tmp_id" property="templateId" jdbcType="VARCHAR" />
    <result column="compensatory_id" property="compensatoryId" jdbcType="VARCHAR" />
    <result column="loan_property" property="loanProperty" jdbcType="TINYINT"/>
    <result column="loan_repay" property="loanRepay" jdbcType="TINYINT"/>
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="flag_hidden" property="flagHidden" jdbcType="TINYINT" />
    <result column="top_time" property="topTime" jdbcType="TIMESTAMP" />
    <result column="loan_channel" property="loanChannel" jdbcType="VARCHAR" />
    <result column="flag_channel" property="flagChannel" jdbcType="TINYINT" />
    <result column="loan_service_fee" property="loanServiceFee" jdbcType="TINYINT" />

  </resultMap>
  <resultMap id="BaseResultMapExt" type="com.zipi.entity.RmbLoanRequest" >
    <id column="lr_request_id" property="requestId" jdbcType="VARCHAR" />
    <result column="lr_amount" property="amount" jdbcType="DECIMAL" />
    <result column="lr_request_des" property="requestDes" jdbcType="VARCHAR" />
    <result column="lr_emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="lr_guarantee_info" property="guaranteeInfo" jdbcType="VARCHAR" />
    <result column="lr_request_method" property="requestMethod" jdbcType="VARCHAR" />
    <result column="lr_mortgaged_info" property="mortgagedInfo" jdbcType="VARCHAR" />
    <result column="lr_mortgaged" property="mortgaged" jdbcType="BIT" />
    <result column="lr_purpose" property="purpose" jdbcType="VARCHAR" />
    <result column="lr_rate" property="rate" jdbcType="INTEGER" />
    <result column="lr_risk_info" property="riskInfo" jdbcType="VARCHAR" />
    <result column="lr_status" property="status" jdbcType="VARCHAR" />
    <result column="lr_submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="lr_request_title" property="requestTitle" jdbcType="VARCHAR" />
    <result column="lr_user_id" property="userId" jdbcType="VARCHAR" />
    <result column="lr_days" property="days" jdbcType="INTEGER" />
    <result column="lr_months" property="months" jdbcType="INTEGER" />
    <result column="lr_years" property="years" jdbcType="INTEGER" />
    <result column="lr_max_amount" property="maxAmount" jdbcType="INTEGER" />
    <result column="lr_min_amount" property="minAmount" jdbcType="INTEGER" />
    <result column="lr_step_amount" property="stepAmount" jdbcType="INTEGER" />
    <result column="lr_loan_name" property="loanName" jdbcType="VARCHAR" />
    <result column="lr_id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="lr_request_type" property="requestType" jdbcType="VARCHAR" />
    <result column="lr_rate_add" property="rateAdd" jdbcType="INTEGER" />
    <result column="lr_guarantee_type" property="guaranteeType" jdbcType="VARCHAR" />
    <result column="lr_tmp_id" property="templateId" jdbcType="VARCHAR" />
    <result column="lr_compensatory_id" property="compensatoryId" jdbcType="VARCHAR" />
    <result column="lr_compensatory_name" property="compensatoryName" jdbcType="VARCHAR" />
    <result column="lr_loan_property" property="loanProperty" jdbcType="TINYINT"></result>
    <result column="lr_loan_repay" property="loanRepay" jdbcType="TINYINT"></result>
    <result column="lr_settled_time" property="settledTime" jdbcType="TIMESTAMP"></result>
    <result column="lr_supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="lr_supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="lr_flag_hidden" property="flagHidden" jdbcType="TINYINT" />
    <result column="lr_flag_channel" property="flagChannel" jdbcType="TINYINT" />
    <result column="lr_loan_channel" property="loanChannel" jdbcType="VARCHAR" />
    <association property="coreUser" column="lr_user_id" javaType="com.zipi.entity.CoreUser">
      <result column="u_user_id" property="userId" jdbcType="VARCHAR"/>
      <result column="u_id_number" property="idNumber" jdbcType="VARCHAR"/>
      <result column="u_user_name" property="userName" jdbcType="VARCHAR"/>
      <result column="u_login_name" property="loginName" jdbcType="VARCHAR"/>
      <result column="u_enterprise" property="enterprise" jdbcType="VARCHAR"/>
      <result column="u_company_name" property="companyName" jdbcType="VARCHAR"/>
      <result column="u_user_mobile" property="userMobile" jdbcType="VARCHAR"/>
      <result column="u_contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
      <result column="u_customer_no" property="customerNo" jdbcType="VARCHAR"/>
      <result column="u_enterprise" property="enterprise" jdbcType="TINYINT"/>
      <result column="u_unified_code" property="unifiedCode" jdbcType="VARCHAR"/>
    </association>
    <association property="rmbLoanRequestFee" column="lr_request_id" javaType="com.zipi.entity.RmbLoanRequestFee">
      <result column="rf_loan_service_fee" property="loanServiceFee" jdbcType="DECIMAL" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >

    request_id, request_des, emp_id, guarantee_info, request_method, mortgaged_info, 
    mortgaged, purpose, rate, risk_info, status, submit_time, request_title, user_id, 
    days, months, years, max_amount, min_amount, step_amount , loan_name, id_number, request_type,
    rate_add, guarantee_type,amount,compensatory_id,loan_property,loan_repay,supplier,flag_hidden,loan_channel
  </sql>
  <sql id="rmbLoanRequest_Column_List">
    LR.request_id as lr_request_id, LR.request_des as lr_request_des, LR.emp_id as lr_emp_id, LR.guarantee_info as lr_guarantee_info, LR.request_method as lr_request_method, LR.mortgaged_info as lr_mortgaged_info,
    LR.mortgaged as lr_mortgaged, LR.purpose as lr_purpose, LR.rate as lr_rate, LR.risk_info as lr_risk_info, LR.status as lr_status, LR.submit_time as lr_submit_time, LR.request_title as lr_request_title, LR.user_id as lr_user_id,
    LR.days as lr_days, LR.months as lr_months, LR.years as lr_years,LR.max_amount as  lr_max_amount, LR.min_amount as lr_min_amount,LR.step_amount as lr_step_amount, LR.loan_name as lr_loan_name, LR.id_number as lr_id_number, LR.request_type as lr_request_type,
    LR.rate_add as lr_rate_add,LR.guarantee_type as lr_guarantee_type,LR.amount as lr_amount,LR.tmp_id as lr_tmp_id,lr.compensatory_id as lr_compensatory_id,lr.loan_property as lr_loan_property,lr.loan_repay as lr_loan_repay,
    lr.supplier as lr_supplier,lr.flag_hidden as lr_flag_hidden,lr.loan_channel as lr_loan_channel,lr.flag_channel as lr_flag_channel
  </sql>

  <insert id="insert" parameterType="com.zipi.entity.RmbLoanRequest" >
    <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="requestId" keyColumn="request_id">
      SELECT UPPER(UUID()) AS requestId
    </selectKey>
    insert into tb_rmbbox_loan_request (request_id,amount, request_des, emp_id,
      guarantee_info, request_method, mortgaged_info,
      mortgaged, purpose, rate,
      risk_info, status, submit_time,
      request_title, user_id, days,
      months, years, max_amount,
      min_amount, step_amount,loan_name, id_number,
      request_type, rate_add, guarantee_type,tmp_id,compensatory_id,
      loan_property,loan_repay,supplier,flag_hidden,loan_channel,flag_channel
      )
    values (#{requestId},  #{amount,jdbcType=INTEGER},#{requestDes,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR},
      #{guaranteeInfo,jdbcType=VARCHAR}, #{requestMethod,jdbcType=VARCHAR}, #{mortgagedInfo,jdbcType=VARCHAR},
      #{mortgaged}, #{purpose,jdbcType=VARCHAR}, #{rate,jdbcType=INTEGER},
      #{riskInfo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP},
      #{requestTitle,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{days,jdbcType=INTEGER},
      #{months,jdbcType=INTEGER}, #{years,jdbcType=INTEGER}, #{maxAmount,jdbcType=INTEGER},
      #{minAmount,jdbcType=INTEGER},#{stepAmount,jdbcType=INTEGER}, #{loanName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR},
      #{requestType,jdbcType=VARCHAR}, #{rateAdd,jdbcType=INTEGER}, #{guaranteeType,jdbcType=VARCHAR}
    ,#{templateId,jdbcType=VARCHAR}
    ,#{compensatoryId,jdbcType=VARCHAR},#{loanProperty,jdbcType=TINYINT},#{loanRepay,jdbcType=TINYINT},
      #{supplier},#{flagHidden,jdbcType=TINYINT},#{loanChannel,jdbcType=VARCHAR},#{flagChannel,jdbcType=TINYINT}
      )
  </insert>
  <select id="getAllRmbLoanRequest" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * FROM tb_rmbbox_loan_request
  </select>
  <select id="getLoanListByStatus" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT
    L.*
    FROM
    tb_rmbbox_loan_request L
    left join tb_core_user_extension_info ei on L.user_id = ei.user_id
    WHERE L.status = #{status}
    <if test="loanProperty != null" >
      AND L.loan_property = #{loanProperty,jdbcType=VARCHAR}
    </if>
    <if test="userSource!=null and userSource!=''">
      and ei.register_source_type = #{userSource}
    </if>
    AND ( l.request_title LIKE binary concat('%',#{search},'%')
    OR L.loan_name LIKE binary concat('%',#{search})
    OR L.loan_name LIKE binary concat(#{search},'%')
    OR l.amount LIKE concat('%',#{search},'%')
    )
    ORDER BY l.amount DESC
    limit #{page.startRow},#{page.pageSize}
  </select>
  <select id="getLoanListByStatusWithDownload" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    tb_rmbbox_loan_request L
    WHERE  L.STATUS = #{status}
    <if test="loanProperty != null" >
      AND L.loan_property = #{loanProperty,jdbcType=VARCHAR}
    </if>
    AND ( l.request_title LIKE binary concat('%',#{search},'%')
    OR L.loan_name LIKE binary concat('%',#{search})
    OR L.loan_name LIKE binary concat(#{search},'%')
    OR l.amount LIKE concat('%',#{search},'%')
    )
    ORDER BY l.amount DESC
  </select>
  <select id="getLoanListByStatusCount" resultType="java.lang.Integer">
    SELECT
    COUNT(1)
    FROM
    tb_rmbbox_loan_request L
    left join tb_core_user_extension_info ei on L.user_id = ei.user_id
    WHERE  L.status = #{status}
    <if test="loanProperty != null" >
      AND L.loan_property = #{loanProperty,jdbcType=VARCHAR}
    </if>
    <if test="userSource!=null and userSource!=''">
      and ei.register_source_type = #{userSource}
    </if>
    AND  ( l.request_title LIKE binary concat('%',#{search},'%')
    OR L.loan_name LIKE binary concat('%',#{search})
    OR L.loan_name LIKE binary concat(#{search},'%')
    OR l.amount LIKE concat('%',#{search},'%')
    )
  </select>
  <select id="getByRequestId" resultMap="BaseResultMapExt" parameterType="java.lang.String">
    SELECT
        <include refid="rmbLoanRequest_Column_List"/>,
        u.user_id AS u_user_id,
        e.emp_id AS e_emp_id,
        e.user_name AS e_user_name,
        u.user_name AS u_user_name,
        u2.user_name as lr_compensatory_name,
        u3.user_name as lr_supplier_name,
        u.id_number AS u_id_number,
        u.login_name AS u_login_name
    FROM tb_rmbbox_loan_request lr
        LEFT JOIN
            tb_core_employee e ON lr.emp_id = e.emp_id
        LEFT JOIN
              tb_core_user u ON u.user_id = lr.user_id
      left join
            tb_core_user u2 on u2.user_id = lr.compensatory_id
    left join
            tb_core_user u3 on u3.user_id = lr.supplier

    where lr.request_id = #{requestId}
  </select>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.zipi.entity.RmbLoanRequest" >
    update tb_rmbbox_loan_request
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="templateId != null" >
        tmp_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="requestDes != null" >
        request_des = #{requestDes,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeInfo != null" >
        guarantee_info = #{guaranteeInfo,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        request_method = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="mortgagedInfo != null" >
        mortgaged_info = #{mortgagedInfo,jdbcType=VARCHAR},
      </if>
      <if test="mortgaged != null" >
        mortgaged = #{mortgaged,jdbcType=BIT},
      </if>
      <if test="purpose != null" >
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="riskInfo != null" >
        risk_info = #{riskInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestTitle != null" >
        request_title = #{requestTitle,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="months != null" >
        months = #{months,jdbcType=INTEGER},
      </if>
      <if test="years != null" >
        years = #{years,jdbcType=INTEGER},
      </if>
      <if test="maxAmount != null" >
        max_amount = #{maxAmount,jdbcType=INTEGER},
      </if>
      <if test="minAmount != null" >
        min_amount = #{minAmount,jdbcType=INTEGER},
      </if>
      <if test="stepAmount != null" >
        step_amount = #{stepAmount,jdbcType=INTEGER},
      </if>
      <if test="loanName != null" >
        loan_name = #{loanName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="requestType != null" >
        request_type = #{requestType,jdbcType=VARCHAR},
      </if>
      <if test="rateAdd != null" >
        rate_add = #{rateAdd,jdbcType=INTEGER},
      </if>
      <if test="guaranteeType != null" >
        guarantee_type = #{guaranteeType,jdbcType=VARCHAR},
      </if>
      <if test="modifyEmpId != null" >
        modify_emp_id = #{modifyEmpId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplier != null ">
        supplier = #{supplier},
      </if>
      <if test="compensatoryId != null">
        compensatory_id = #{compensatoryId},
      </if>
      <if test="loanProperty != null" >
        loan_property = #{loanProperty,jdbcType=TINYINT},
      </if>
      <if test="loanRepay != null" >
        loan_repay = #{loanRepay,jdbcType=TINYINT},
      </if>
      <if test="flagHidden != null">
        flag_hidden = #{flagHidden,jdbcType=TINYINT},
      </if>

      <if test="loanChannel != null " >
        loan_channel = #{loanChannel,jdbcType=VARCHAR},
      </if>
      <if test="flagChannel != null">
        flag_channel = #{flagChannel,jdbcType=TINYINT}
      </if>
    </set>
    where request_id = #{requestId,jdbcType=VARCHAR}
  </update>
  
  
  <update id="updateRequestTitle" parameterType="com.zipi.entity.RmbLoanRequest">
    update tb_rmbbox_loan_request set request_title = #{requestTitle,jdbcType=VARCHAR} WHERE request_id = #{requestId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="countLoan" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT 
		  l.*,
          rf.loan_service_fee loan_service_fee
		FROM
		  tb_rmbbox_loan_request l,
		  tb_rmbbox_loan_request_fee rf
		WHERE l.user_id = #{userId}
		  and l.request_id = rf.id;
	</select>
  <select id="getByIdAndStatus" resultMap="BaseResultMap">
    select *
    from tb_rmbbox_loan_request
    where request_id = #{requestId}
    and status = #{status}
  </select>
  
  <select id="countByUserIdAndStatus" resultType="int">
    select count(*)
    from tb_rmbbox_loan_request
    where user_id = #{userId}
    <if test="status != null">
    	and status = #{status}
    </if>
  </select>

  <select id="getLoanRequestTypesByLoanId" resultType="com.zipi.enums.bbt.LoanRequestTypes">
    SELECT  rlr.request_type  FROM tb_rmbbox_loan rl,tb_rmbbox_loan_request rlr
    WHERE rl.request_id=rlr.request_id
    AND rl.loan_id=#{loanId}
  </select>

  <select id="getRmbLoanRequestByLoanId" resultMap="BaseResultMapExt">
    SELECT
    cu.user_name AS u_user_name,
    cu.login_name AS u_login_name,
    cu.enterprise AS u_enterprise,
    cu.company_name AS u_company_name,
    cu.id_number AS u_id_number,
    cu.contact_phone AS u_contact_phone,
    cu.customer_no AS u_customer_no,
    cu.enterprise AS u_enterprise,
    cu.unified_code AS u_unified_code,
    rl.settled_time AS lr_settled_time,
    rl.request_id AS lr_request_id,
    rlr.loan_property as lr_loan_property,
    rlr.request_type as lr_request_type,
    rl.loan_days as lr_days,
    rlr.flag_hidden AS lr_flag_hidden,
    cu.user_mobile as u_user_mobile,
    rf.loan_service_fee as rf_loan_service_fee,
    rlr.amount as lr_amount,
    rlr.max_amount as lr_max_amount,
    rlr.min_amount as lr_min_amount,
    rlr.step_amount as lr_step_amount,
    rlr.compensatory_id as lr_compensatory_id,
    rlr.loan_channel as lr_loan_channel,
    rlr.flag_channel as lr_flag_channel,
    rlr.user_id as lr_user_id
    FROM tb_rmbbox_loan rl,tb_rmbbox_loan_request rlr,tb_core_user cu,tb_rmbbox_loan_request_fee rf
    WHERE rl.request_id=rlr.request_id and rlr.request_id = rf.id
    AND rlr.user_id=cu.user_id
    AND rl.loan_id=#{loanId}
  </select>

    <update id="updateIntelligentLoan" parameterType="java.lang.String">
        update tb_rmbbox_loan_request
        set flag_hidden = 0 , top_time = NOW()
        where request_id = #{requestId,jdbcType=VARCHAR}
        and (SELECT frozen_amount from tb_rmbbox_loan where request_id = #{requestId,jdbcType=VARCHAR}) = 0
    </update>

  <select id="selectById" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        tb_rmbbox_loan_request
    where
        request_id=#{requestId}
  </select>

  <select id="getCountByRequestTitle" resultType="java.lang.Integer">
    SELECT COUNT(1) from  tb_rmbbox_loan_request
    where request_title = #{requestTitle,jdbcType=VARCHAR}
  </select>

  <select id="getLoanRequestListByUserId" resultMap="BaseResultMap" >

    select * from tb_rmbbox_loan_request r

    where r.user_id = #{userId}
  </select>

  <select id="getTotalApplyLoanAmountByUserId" resultType="java.math.BigDecimal">
    SELECT
    ifnull(sum(apply_amount),0)
    FROM
    `new_loan`.tl_loan_user_apply
    WHERE
    user_id = #{userId}
    and apply_status in (#{applyStatus})
  </select>

  <select id="countLoanRequest" resultType="int">
    select count(*)
    from tb_rmbbox_loan_request
  </select>
  <select id="countByTitle" resultType="int">
    select count(*) from tb_rmbbox_loan_request where request_title = #{title}
  </select>
</mapper>