<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zipi.modules.contract.mapper.RmbLoanRepaymentMapper">
	<resultMap id="BaseResultMap" type="com.zipi.modules.contract.entity.RmbLoanRepayment">
		<id column="id" property="id" />
		<result column="current_period" property="currentPeriod" />
		<result column="repay_amount" property="repayAmount" />
		<result column="repay_time" property="repayTime" />
		<result column="repay_status" property="repayStatus" />
		<result column="amount_interest" property="amountInterest" />
		<result column="amount_principal" property="amountPrincipal" />
		<result column="amount_out_standing" property="amountOutStanding" />
		<result column="due_date" property="dueDate" />
		<result column="loan_id" property="loanId" />
		<result column="user_id" property="loanerId" />
		<result column="request_id" property="requestId" />
		<result column="compensatory_id" property="compensatoryId"/>
		<result column="act_compensatory_id" property="actCompensatoryId"/>
		<result column="amount_service" property="amountService" />
		<result column="flag_service_charge" property="flagServiceCharge" jdbcType="VARCHAR" />
		<result column="next_repay_time" property="nextRepayTime"/>
		<result column="loaner_mobile" property="loanerMobile"/>
		<result column="repay_compensatory_amount" property="repayCompensatoryAmount"/>
		<result column="repay_compensatory_date" property="repayCompensatoryDate"/>
		<result column="transfer_flow" property="transferFlow"/>
		<result column="repay_flag" property="repayFlag" jdbcType="TINYINT"/>

	</resultMap>
	<resultMap id="RepayMGResult" type="com.zipi.modules.contract.entity.RmbLoanRepayment">
		<id column="id" property="id" />
		<result column="current_period" property="currentPeriod" />
		<result column="repay_amount" property="repayAmount" />
		<result column="repay_time" property="repayTime" />
		<result column="repay_status" property="repayStatus" />
		<result column="amount_interest" property="amountInterest" />
		<result column="amount_principal" property="amountPrincipal" />
		<result column="amount_out_standing" property="amountOutStanding" />
		<result column="due_date" property="dueDate" />
		<result column="loan_id" property="loanId" />
		<result column="request_id" property="requestId" />
		<result column="login_name" property="loaner"/>
		<result column="user_id" property="loanerId"/>
		<result column="available_amount" property="loanerAvailableAmount"/>
		<result column="loan_title" property="loanTitle"/>
		<result column="user_mobile" property="loanerMobile"/>
		<result column="compensatory_id" property="compensatoryId"/>
		<result column="act_compensatory_id" property="actCompensatoryId"/>
		<result column="amount_service1" property="amountService" />
		<result column="next_repay_time" property="nextRepayTime"/>
		<result column="loan_repay" property="loanRepay" jdbcType="TINYINT"/>
		<result column="flag_service_charge" property="flagServiceCharge" jdbcType="VARCHAR" />
		<result column="repay_compensatory_amount" property="repayCompensatoryAmount"/>
		<result column="repay_compensatory_date" property="repayCompensatoryDate"/>
		<result column="transfer_flow" property="transferFlow"/>
		<result column="repay_flag" property="repayFlag" jdbcType="TINYINT"/>
		<association property="rmbLoan" javaType="com.zipi.modules.contract.entity.RmbLoan" resultMap="com.zipi.modules.contract.mapper.RmbLoanMapper.BaseResultMap"/>

	</resultMap>

	<sql id="Base_Column_List">
		id, current_period, repay_amount,
		repay_time,repay_status,amount_interest,amount_principal,amount_out_standing,amount_service,due_date,loan_id,user_id,modify_time,compensatory_id,
		act_compensatory_id,flag_service_charge,next_repay_time,repay_compensatory_amount,repay_compensatory_date,transfer_flow,repay_flag
	</sql>

	<select id="selectByLoanId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tb_rmbbox_loan_repayment
		where loan_id=#{loanId}
	</select>

	<insert id="insert" parameterType="com.zipi.modules.contract.entity.RmbLoanRepayment">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			SELECT UPPER(UUID()) AS id
		</selectKey>
		insert into tb_rmbbox_loan_repayment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id !=null">
				id,
			</if>
			<if test="currentPeriod != null">
				current_period,
			</if>
			<if test="repayAmount != null">
				repay_amount,
			</if>
			<if test="repayTime != null">
				repay_time,
			</if>
			<if test="repayStatus != null">
				repay_status,
			</if>
			<if test="amountInterest != null">
				amount_interest,
			</if>
			<if test="amountPrincipal != null">
				amount_principal,
			</if>
			<if test="amountOutStanding != null">
				amount_out_standing,
			</if>
			<if test="amountService != null">
				amount_service,
			</if>
			<if test="dueDate != null">
				due_date,
			</if>
			<if test="loanId != null">
				loan_id,
			</if>
			<if test="loanerId != null">
				user_id,
			</if>
			<if test="compensatoryId != null">
				compensatory_id,
			</if>
			<if test="flagServiceCharge != null">
				flag_service_charge,
			</if>
			<if test="repayFlag != null">
				repay_flag
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id !=null">
				#{id},
			</if>
			<if test="currentPeriod != null">
				#{currentPeriod},
			</if>
			<if test="repayAmount != null">
				#{repayAmount},
			</if>
			<if test="repayTime != null">
				#{repayTime},
			</if>
			<if test="repayStatus != null">
				#{repayStatus},
			</if>
			<if test="amountInterest != null">
				#{amountInterest},
			</if>
			<if test="amountPrincipal != null">
				#{amountPrincipal},
			</if>
			<if test="amountOutStanding != null">
				#{amountOutStanding},
			</if>
			<if test="amountService != null">
				#{amountService},
			</if>
			<if test="dueDate != null">
				#{dueDate},
			</if>
			<if test="loanId != null">
				#{loanId},
			</if>
			<if test="loanerId != null">
				#{loanerId},
			</if>
			<if test="compensatoryId != null">
				#{compensatoryId},
			</if>
			<if test="flagServiceCharge != null">
				#{flagServiceCharge},
			</if>
			<if test="repayFlag != null">
				#{repayFlag}
			</if>
		</trim>
	</insert>

</mapper>