<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zipi.modules.contract.mapper.SignatureMapper" >
    <resultMap id="BaseResultMap" type="com.zipi.modules.contract.entity.Signature" >
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="timestamp" property="timeStamp" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="trade_status" property="tradeStatus" jdbcType="VARCHAR" />
        <result column="invest_id" property="investId" jdbcType="VARCHAR" />
        <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
        <result column="doc_title" property="docTitle" jdbcType="VARCHAR" />
        <result column="sign_keyword" property="signKeyword" jdbcType="VARCHAR" />
        <result column="sealNo" property="sealNo" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_columns">
        transaction_id,create_time,update_time,timestamp,
        description,trade_status,invest_id,contract_id,file_id,doc_title,
        sign_keyword,sealNo
    </sql>
    <insert id="insert" parameterType="com.zipi.modules.contract.entity.Signature">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="transactionId">
            SELECT UPPER(UUID()) AS transactionId
        </selectKey>
        insert into tb_core_signature (
            transaction_id,
            create_time,
            update_time,
            timestamp,
            description,
            trade_status,
            invest_id,
            contract_id,
            file_id,
            doc_title,
            sign_keyword,
            sealNo
        )
        values (
            #{transactionId},
            #{createTime},
            #{updateTime},
            #{timeStamp},
            #{description},
            #{tradeStatus},
            #{investId},
            #{contractId},
            #{fileId},
            #{docTitle},
            #{signKeyword},
            #{sealNo}
        )
    </insert>

    <select id="selectSignatureRecoredByFileId" resultMap="BaseResultMap">
        SELECT <include refid="Base_columns"/> FROM tb_core_signature WHERE file_id = #{fileId}
    </select>

    <update id="updateSignatureStatus">
        UPDATE tb_core_signature
        SET
            update_time = #{updateTime},
            timestamp = #{timeStamp},
            <if test="afterTradeStatus != null">
                trade_status = #{afterTradeStatus},
            </if>
            sign_keyword = #{signKeyword},
            sealNo = CASE WHEN sealNo = 4 THEN sealNo
                          ELSE sealNo + 1
                          END
        WHERE
            transaction_id = #{transactionId}
        AND trade_status = #{beforeTradeStatus} AND sealNo = #{sealNo} AND sealNo <![CDATA[ <= ]]> 4
    </update>

    <delete id="deleteByFileId">
        DELETE FROM tb_core_signature WHERE file_id = #{fileId}
    </delete>

</mapper>